h1,
h2 {
	font-family: $fontmain;
	font-size: $textmds;

}

p {
    font-family: $fontmain;
    font-size: $textsm


} 


.ofrecemos__articulo{
   width: 80%;
   height: auto;
   padding-top: 20px;
   padding-right: 40px;
   padding-bottom: 100px;
   padding-left: 20px;
   margin-top: 30px;
   margin-right: 5px;
   margin-bottom: 20px;
   margin-left: 80px;
   overflow-y: auto;       
   color: black;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   

   
}
